<div style="display: flex; height: 100vh; overflow-y: hidden;" (contextmenu)="$event.preventDefault()">
  <!-- Left area for task list -->
  <div style="flex: 1; border-right: 1px solid #ccc; padding: 10px;">
    <h3>Lista de Tarefas</h3>
    <!-- Botões solicitados -->
    <div style="margin-bottom: 16px; display: flex; gap: 8px;">
      <button (click)="onGravar()" [disabled]="gravando || executando">Gravar</button>
      <button (click)="onParar()" [disabled]="!gravando && !executando">Parar</button>
      <button (click)="onExecutar()" [disabled]="executando || gravando">Executar</button>
    </div>
    <input type="text" placeholder="Digite uma URL" [(ngModel)]="urlInput" style="width: 80%; margin-bottom: 8px;">
    <button (click)="accessUrl()">Acessar</button>
    <input type="text" placeholder="Chave" [(ngModel)]="keyInput" style="width: 30%; margin-bottom: 8px;"> 
    <input type="text" placeholder="Digite um texto" [(ngModel)]="textInput" style="width: 50%; margin-bottom: 8px;">
    <button (click)="sendText()">Enviar</button>
    <input type="text" placeholder="Digite a HotKey" [(ngModel)]="hotKeyInput" style="width: 80%; margin-bottom: 8px;">
    <button (click)="sendHotKey()">Acessar</button>
    <button (click)="get()">Acessar</button>

    Eventos: ({{ events.length }})
    <ul>
      <li *ngFor="let event of events">{{ event.id }} - {{ event.type }}</li>
    </ul>
  </div>
  
  <!-- Right area for image -->
  <div style="flex: 3; padding: 10px; display: flex; align-items: center; justify-content: flex-end;">
    <div style="width: 1080px; height: 768px; border: 2px solid black;" tabindex="0" 
    (keydown)="onKeyDown($event)"
    (wheel)="onMouseWheel($event)"
    >
      <img [src]="videoUrl" alt="Stream da Imagem" 
           style="width: 100%; height: 100%;"
           (mousemove)="onMouseMove($event)" 
           (mousedown)="onMouseDown($event)"
           >
    </div>
  </div>
</div>
