robot/mongo_data
web/node_modules
web/.vscode
robot/web/package-lock.json
robot/web/node_modules
robot/web/dist
ia/chroma_storage
ia/chroma_storage_local
drupal
nodered/data
n8n/postgres_data
n8n/evolution_redis
n8n/n8n_data
n8n/evolution_store
n8n/evolution_instances
n8n/data-node-red
