services:
  postgres:
    # image: arm32v7/postgres:16.0-alpine
    image: postgres:16-alpine
    container_name: postgres
    restart: always
    environment:
      POSTGRES_USER: n8n
      POSTGRES_PASSWORD: brcodigoK88
      POSTGRES_DB: n8n-db
    ports:
      - "5432:5432"
    volumes:
      - ./postgres_data:/var/lib/postgresql/data

  redis:
    container_name: redis
    image: redis:latest
    restart: always
    command: >
      redis-server --port 6379 --appendonly yes
    volumes:
      - evolution_redis:/data
    expose:
      - "6379"

  n8n:
    image: n8nio/n8n:latest
    container_name: n8n
    restart: always
    ports:
      - "5678:5678"
    environment:
      - N8N_BASIC_AUTH_ACTIVE=true
      - N8N_BASIC_AUTH_USER=admin
      - N8N_BASIC_AUTH_PASSWORD=secret
      - N8N_HOST=n8n.3dzipado.com
      - N8N_PORT=5678
      - N8N_PROTOCOL=https
      - WEBHOOK_URL=https://n8n.3dzipado.com/
      - N8N_SECURE_COOKIE=true
      - N8N_CORS_ORIGIN=https://n8n.3dzipado.com,https://evolution.3dzipado.com
      
      - DB_TYPE=postgresdb
      - DB_POSTGRESDB_DATABASE=n8n-db
      - DB_POSTGRESDB_HOST=postgres
      - DB_POSTGRESDB_PORT=5432
      - DB_POSTGRESDB_USER=n8n
      - DB_POSTGRESDB_PASSWORD=brcodigoK88
      - DB_POSTGRESDB_SCHEMA=n8n


    depends_on:
        - postgres
    volumes:
      - n8n_data:/home/node/.n8n

  evolution-api:
    image: atendai/evolution-api:v2.2.3
    container_name: evolution_api
    restart: always
    ports:
      - "5679:8080"
    environment:
      - AUTHENTICATION_API_KEY=8baefbbb1921ca918862eb94b4a7a1d7
      - DATABASE_ENABLED=true
      - DATABASE_PROVIDER=postgresql
      - DATABASE_CONNECTION_URI=postgresql://n8n:brcodigoK88@postgres:5432/n8n-db?schema=public
      - DATABASE_CONNECTION_CLIENT_NAME=evolution_exchange
      - SERVER_URL=https://wsp.3dzipado.com
      - CORS_ORIGIN=*
      - HOST=0.0.0.0
      
      - DATABASE_SAVE_DATA_INSTANCE=true
      - DATABASE_SAVE_DATA_NEW_MESSAGE=false
      - DATABASE_SAVE_MESSAGE_UPDATE=false
      - DATABASE_SAVE_DATA_CONTACTS=false
      - DATABASE_SAVE_DATA_CHATS=false
      - DATABASE_SAVE_DATA_LABELS=false
      - DATABASE_SAVE_DATA_HISTORIC=false

      - CACHE_REDIS_ENABLED=true
      - CACHE_REDIS_URI=redis://redis:6379/6
      - CACHE_REDIS_PREFIX_KEY=evolution
      - CACHE_REDIS_SAVE_INSTANCES=false
      - CACHE_LOCAL_ENABLED=false

    depends_on:
        - postgres
        - redis
    volumes:
      - ./evolution_store:/evolution/store
      - ./evolution_instances:/evolution/instances

volumes:
  n8n_data:
  postgres_data:
  evolution_store:
  evolution_instances:
  evolution_redis: