services:
  nodered:
    build: .
    container_name: nodered
    ports:
      - "1880:1880"
    volumes:
      - ./data:/data
    restart: unless-stopped
    # O command é definido no entrypoint.sh → não precisa aqui